@media screen and (max-width: 900px) {
    body{
        font-size: 0.6em;
    }

    header{
        padding: 0.5em 5em;

        & nav#web{
            visibility: hidden;
        }

        & button#menu{
            visibility: visible
        }

    }

    main#mainpage{
        margin: 3em 3.5em;

        
        & div#content1{
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            
            & img{
                border-bottom: none;
            }

            & div#textcontent{
                width: 95%;
                margin-top: 0;

                & div.text{
                    width: 100%;
                    padding: 0.7em 0.2em;
                    font-size: 2em;
                    border-top: 0.1em solid white;
                    border-bottom: 0;
                    text-align: center;
                }

                & > p{
                    display: none;
                }
            }
        }

        & section#content2{
            & div#geral{
                & section.cards{
                    height: 100%;

                    & i{
                        font-size: 1.5em;
                    }
                }

                & section#card1{
                    & iframe{
                        height: 110px;
                        width: 200px; 
                    }
                }
            }
        }
    }

    main#sobre{
        & article{
            & div#block{
                flex-direction: column;
                padding: 2.5em;
                margin: 2em;

                & figure{
                    display: none;
                }

                & section{
                    & p{
                        border-top: 0.1em solid white;
                        border-bottom: 0.1em solid white;
                        padding: 1em 0;
                    }
                }
            }
        }

        & aside{
            & section.content{
                padding: 0.5em 0.7em;
            }
        }
    }

    main#midia{
        margin: 3em auto;
        
        & article{
            height: 100vh;

            & div#carrossel{
                margin-top: 7em;

                & div.container{
                    flex-direction: column;
                    gap: 1em;
                    height: 45em;

                    & section.info{
                        margin-top: 0.3em;
                        
                        & h2{
                            margin-bottom: 0.2em;
                            padding-top: 0.3em;
                            border-top: 0.01em solid white;
                            text-align: center;
                        }

                        & p.button{
                            margin-top: 1em;
                            padding-top: 1.5em;
                            border-top: 0.1em solid white;
                        }
                    }
                }

            }
        }
    }

    main#testimony{
        & article{
            & form{
                & textarea{
                    width: 25em;
                }
            }
        }

        & aside{
            height: 32em;
        }
    }

    main#login, main#register{
        & article{
            margin-bottom: 50em;

            & form{
                & div#logindata, div#registerdata{
                    & input[type="text"], input[type="email"], input[type="password"]{
                        width: 15em;
                    }
                }
            }
        }
    } 
}

@media screen and (max-width: 1000px) {
    & main#midia{
        & article{
            & div#carrossel{
                & button#left{
                    left: 0;   
                }
                
                & button#right{
                    right: 0;
                }
            }
        }
    }
}